
@model PaginatedViewModel<UserAdminListingServiceModel>
@{
    ViewData["Title"] = "All Users";
}

<h2>@ViewData["Title"]</h2>
<hr />

<form method="get" asp-route-page="1">
    <div class="form-group">
        <div class="col-md-6 col-no-padding-left">
            <input asp-for="SearchTerm" placeholder="Search..." class="form-control"/>
        </div>
        <button type="submit" class="btn btn-default">Search</button>
    </div>
</form>

<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                Username
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Items.Count(); i++)
        {
            var user = Model.Items.ElementAt(i);

            <tr class="vertical-aligned-row">
                <td width="5%">
                    @(i + 1)
                </td>
                <td width="50%">
                    <div>@user.FirstName @user.LastName</div>
                    <div><small>@user.Email</small></div>
                </td>
                <td width="45%">
                    3
                </td>
            </tr>
        }
    </tbody>

</table>
<ul class="pagination">
    <li class="@(Model.CurrentPage == Model.PreviousPage ? "disabled" : "")">
        <a asp-action="All" asp-route-searchTerm="@Model.SearchTerm" asp-route-page="@Model.PreviousPage">&laquo;</a>
    </li>

    @for (int i = 1; i <= Model.TotalPages; i++)
    {
        <li class="@(Model.CurrentPage == i ? "active" : "")">
            <a asp-action="All" asp-route-searchTerm="@Model.SearchTerm" asp-route-page="@i">@i</a>
        </li>
    }
    <li class="@(Model.CurrentPage == Model.NextPage ? "disabled" : "")">
        <a asp-action="All" asp-route-searchTerm="@Model.SearchTerm" asp-route-page="@Model.NextPage">&raquo;</a>
    </li>
</ul>
