@using BookHeaven.Web.Models.Shared
@model PaginatedViewModel<UserAdminListingServiceModel>
@{
    ViewData["Title"] = "All Users";
}

<h2>@ViewData["Title"]</h2>
<hr />

<form id="search-form" method="get" asp-route-page="1">
    <div class="form-group">
        <div class="col-md-5 col-no-padding-left ui search">
                <div class="ui icon input">
                    <input id="search-field" class="prompt form-control" asp-for="SearchTerm" placeholder="Search Users">
                </div>
                <div class="results"></div>
        </div>
        <button type="submit" class="btn btn-default">Search</button>
        <a asp-action="All" asp-route-searchTerm="" class="btn btn-default">Clear Filter</a>
    </div>
</form>

@if (!string.IsNullOrEmpty(Model.SearchTerm))
{
    <h3 class="text-info search-info">Displaying results for search : @Model.SearchTerm</h3>
}

@if (!Model.Items.Any())
{
    <h3>There are no users to display!</h3>
}

else
{
    <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th>
            </th>
            <th>
                Username
            </th>
            <th>
            </th>
        </tr>
        </thead>
        <tbody>
        @for (int i = 0; i < Model.Items.Count(); i++)
        {
            var user = Model.Items.ElementAt(i);

            <tr class="vertical-aligned-row">
                <td width="5%">
                    @(i + 1)
                </td>
                <td width="60%">
                    <div>@user.FirstName @user.LastName</div>
                    <div><small>@user.Email</small></div>
                </td>
                <td width="35%">
                    <div class="row">
                        <div class="col-md-4">
                            <a class="btn btn-info btn-block" asp-action="Details" asp-route-id="@user.Id">Details</a>
                        </div>
                        <div class="col-md-4">
                            <a class="btn btn-warning btn-block" asp-action="Edit" asp-route-id="@user.Id">Edit</a>
                        </div>
                        <div class="col-md-4">
                                <form method="post" class="custom-inline-form" asp-action="Delete" asp-route-id="@user.Id">
                                        <button type="submit" class="btn btn-danger btn-block delete-button">Delete</button>
                                </form>
                        </div>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>

    @await Html.PartialAsync("_PaginationPartial", new PageSelectorPartialModel
    {
        Action = "All",
        CurrentPage = Model.CurrentPage,
        NextPage = Model.NextPage,
        PreviousPage = Model.PreviousPage,
        SearchTerm = Model.SearchTerm,
        TotalPages = Model.TotalPages
    })
}

@section Scripts
{
    <script>
        AdminUsersListModule.Initialize();
        DeleteItemDialogs.InitializeDialogs('.delete-button', 'user');
    </script>
}