@using System.Net
@using System.Text
@using BookHeaven.Common.Extensions
@using Microsoft.AspNetCore.Routing
@model UserAdminDetailsViewModel
@{
    ViewData["Title"] = "Manage User";
}

<div class="resume">
    <header class="page-header">
        <h2 class="page-title">@ViewData["Title"]</h2>
        <small> @Model.Email</small>
    </header>
</div>

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading resume-heading">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <figure>
                                <img class="details-picture img-circle img-responsive profile-picture-select no-cursor" alt="" src="@Model.ProfilePicture.GetPictureUrlOrDefault(ResourceConstants.DefaultProfilePictureUrl)">
                            </figure>
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-2 list-group-label">
                                    <strong>Name:</strong>
                                </div>
                                <div class="col-md-10">
                                    <div class="list-group-item list-group-item-margined">@Model.FirstName @Model.LastName</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 list-group-label">
                                    <strong>Email:</strong>
                                </div>
                                <div class="col-md-10">
                                    <div class="list-group-item list-group-item-margined">@Model.Email</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 list-group-label">
                                    <strong>Roles:</strong>
                                </div>
                                <div class="col-md-10">
                                    <div class="list-group-item list-group-item-margined">@(Model.Roles.Any() ? string.Join("/", Model.Roles) : "No Roles")</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 list-group-label">
                                    <strong>Purchases:</strong>
                                </div>
                                <div class="col-md-10">
                                    <div class="list-group-item list-group-item-margined">@Model.TotalPurchases</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 list-group-label">
                                    <strong>Spent:</strong>
                                </div>
                                <div class="col-md-10">
                                    <div class="list-group-item list-group-item-margined">@Model.MoneySpent.ToEuro()</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6"><a asp-action="Edit" asp-route-id="@Context.GetRouteValue("id")" class="btn btn-warning btn-block">Edit</a></div>
            <div class="col-md-6">
                <form method="post" class="custom-inline-form" asp-action="Delete" asp-route-id="@Context.GetRouteValue("id")">
                    <button type="submit" class="btn btn-danger btn-block delete-button">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        AdminUsersListModule.Initialize();
        DeleteItemDialogs.InitializeDialogs('.delete-button', 'user');
    </script>
}