@model IEnumerable<CategoryAdminListingServiceModel>
@{
    ViewData["Title"] = "All Categories";
}

<h2>@ViewData["Title"]</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <button class="btn btn-info btn-block" id="create-category-button">Create Category</button>
    </div>
</div>

<hr />
<div class="row  form-margin-row">
    <div class="col-md-4">
        <input type="text" id="categories-filter" placeholder="Filter categories..." class="form-control"/>
    </div>
</div>

<div class="row">

    @foreach (var category in Model)
    {

        <div class="col-md-4 category-item">
            <div class="well">
                <div class="row">
                    <div class="col-md-10">
                        <div class="category-label">@category.Name</div>
                        <div class="text-uppercase"> Total Books : @category.Books</div>
                    </div>
                    <div class="col-md-2">
                        <i class="glyphicon glyphicon-edit edit-icon link-icon" category-id="@category.Id" category-name="@category.Name" ></i>
                        <form method="post" class="custom-inline-form" asp-action="Delete" asp-route-id="@category.Id">
                            <i class="glyphicon glyphicon-remove delete-icon link-icon"></i>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    }

</div>

@section Scripts    {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script>
        DeleteItemDialogs.InitializeDialogs('.delete-icon', 'category');
        AllCategoriesModule.Initialize();
    </script>
}

